* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    user-select: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(43, 42, 42);
}
body::-webkit-scrollbar{
    width: 0;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
ul{
    list-style: none;
    margin: 0;
}
ul, li, p, h1, h2, h3, a {
    margin: 0;
    padding: 0;
    color: rgb(220, 216, 216);
}
li{
    font-size: 15px;
}

/* CONTAINER PRINCIPAL */
#main_container{
    display: flex;
    justify-content: center;
}
#content-container{
    display: grid;
    width: 75%;
    height: fit-content;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50%;
    grid-template-areas:
    "aside_left cursos"
    "aside_left education";
    gap: 20px;
    margin: 2vh;
}
#left_aside_content, #courses-container, #education-container{
    background-color: rgb(29, 27, 27);
    /* box-shadow: [inset][h-offset][v-offset][blur][spread][color]; */
    /* box-shadow: 1px 3px 10px 5px rgb(172, 172, 172); */
}
#left_aside_content{
    grid-area: aside_left;
}
#courses-container{
    grid-area: cursos;
}
#education-container{
    grid-area: education;
}

/* ASIDE CONTAINER */

/* PERSONAL PIC */
#person-pic h1{
    position: absolute;
    top: 450px;
    background-color: rgb(29, 27, 27);
    padding: 0px 10px 0px 1px;
    border-radius: 0px 10px 10px 0px;
}

#person-pic img{
    width: 100%;
    max-height: 500px;
}

/* PERSONAL-DATA */
#personal-data{
    /* padding: 20px 0 20px 10px; */
}
#personal-data ul li{
    margin-bottom: 15px;
}
#personal-data ul li:nth-child(4){
    margin-bottom: 0;
}
.fas, .far{
    font-size: 18px;
    padding-right: 10px;
    color: #95bd28;
}
#aside_left_internalDiv{
    padding: 15px;
}
.line{
    width: 100%;
    background-color: #95bd28;
    height: 1px;
    margin: 20px 0 20px 0;
}
.title_div{
    font-weight: bold;
    font-size: 20px;
    color: #95bd28;
    margin-left: 10px;
}

.box-title{
    font-weight: normal;
    font-size: 15px;
}

.skill-box{
    margin: 20px 0 20px 0;
}
.skill-percent{
    margin-top: 15px;
    border-radius: 20px;
    width: 100%;
    height: 2.2vh;
    background-color: rgb(201, 201, 201);
}
.progress-bar{
    background-color: #95bd28;
    height: 100%;
    border-radius: 20px;
    text-align: center;
}
.progressBar-text{
    color: rgb(43, 42, 42);
    font-weight: 500;
    font-size: 13px;
}
#progressBar-skill_1{
    width: 70%;
}
#progressBar-skill_2{
    width: 30%;
}
#progressBar-skill_3{
    width: 40%;
}
#progressBar-skill_4{
    width: 30%;
}
#progressBar-skill_5{
    width: 30%;
}
#progressBar-skill_6{
    width: 20%;
}

/* LÍNGUAS */
.lang-box{
    margin: 20px 0 20px 0;
}
.lang-percent{
    margin-top: 15px;
    border-radius: 20px;
    width: 100%;
    height: 2.2vh;
    background-color: rgb(201, 201, 201);
}
#progressBar-lang_1{
    width: 100%;
}
#progressBar-lang_2{
    width: 60%;
}
#progressBar-lang_3{
    width: 40%;
}




/* CURSOS */
#courses-container .fas,
#education-container .fas{
    font-size: 50px;
    display: flex;
    align-items: center;
} 
.title-div_2{
    font-size: 30px;
    margin-left: 20px;
    font-weight: normal;
}
.course-box > .title_div{
    margin: 0;
}
#courses-container{
    padding: 25px;
    overflow-y: scroll;
}
.course-time{
    display: flex;
    margin: 10px 5px 10px 5px;
    align-items: center;
}
.time-description{
    color: #95bd28;
}
.current-time{
    background-color: #95bd28;
    color: rgb(43, 42, 42);
    border-radius: 8px;
    padding: 2px 5px 2px 5px;
}
.all-courses{
    margin-top: 3vh;
    padding: 10px;
}
#courses-container::-webkit-scrollbar{
    width: 10px;
}
#courses-container::-webkit-scrollbar-thumb{
    background-color: #95bd28;
}


/* FORMAÇÃO */
#education-container{
    padding: 25px;
}
.all-academic_education{
    margin-top: 3vh;
    padding: 10px;
}
.academic-time{
    display: flex;
    align-items: center;
    margin: 15px 5px 15px 5px;
}
.academic_education-box > .title_div{
    margin: 0;
}
.subtitle{
    font-weight: normal;
    font-size: 15px;
    background-color: #95bd28;
    width: fit-content;
    margin-top: 5px;
    padding: 0.1px 2px;
    border-radius: 5px;
    color: rgb(43, 42, 42);
}

/* FOOTER */
footer{
    background-color: #95bd28;
    height: 100%;
    margin-top: 3vh;
}
footer a{
    color: rgb(43, 42, 42);
}
footer a:hover{
    color: rgb(223, 222, 222);
}
footer p{
    color: rgb(43, 42, 42);
}
.content-footer{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
#social-icons ul li{
    display: inline-block;
}
#social-icons{
    margin: 10px;
}
#social-icons .fab{
    font-size: 35px;
}